@font-face {
  font-family: "Vazir";
  src: url("../fotns/Vazir-Medium.woff");
  src: url("../fotns/Vazir-Medium.woff2");
  src: url("../fotns/Vazir-Medium.ttf");
  font-weight: 400;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir";
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap");

body,
html {
  font-family: "Vazir", sans-serif !important;
  direction: rtl !important;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth !important;
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(201, 201, 201);
}

body::-webkit-scrollbar-thumb {
  background-color: #f43f5e;
  outline: 0;
  border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.card {
  height: 29rem;
}

.active {
  color: #f33a6a;
}

.deactive {
  color: black;
}

@media screen and (max-width: 768px) {
  .card {
    height: 17rem;
    margin: auto;
  }
}
